*.iml

.idea
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
Library
[Gg]enerate
local
[Tt]emp
[Tt]emp.meta
[Tt]empLua
[Tt]empLua.meta
obj
AssetBundles
StreamingAssets
Assets/StreamingAssets
/Assets/StreamingAssets.meta


.Genrerate
*.sln
*.csproj
Build
JetBrains
Assets/Plugins/Editor/JetBrains
JetBrains.meta
Assets/Sprites/WenZhan/ep
Assets/Anim.meta
mathgameclient.sln
jstest
Assets/Database/~$event.xlsx.meta
math-1-v1.symbols.zip
Assets/LuaFramework/Lua/LuaDebugjit.lua
Assets/LuaFramework/Lua/LuaDebugjit.lua.meta
.vscode
/.vs

Generate/
Generate.meta

/*.user
Assets/Assets.index
Assets/Assets.index.meta
/UserSettings/QuickSearch.settings
/*.apk
